@page "/ShoppingCartItem/Index"
@attribute [Authorize(Roles = "Admin")]

@inject NavigationManager navigationManager
@inject ShoppingCartItemService shoppingCartItemService
@rendermode InteractiveServer


<PageTitle>Shopping Cart Item</PageTitle>

<div class="container-fluid">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between">
            <h4>Shopping Cart Item</h4>
            <a class="btn btn-primary" href="/ShoppingCartItem/Create"><i class="bi bi-plus-square"></i> Crear</a>
        </div>
        <div class="card-body">
            <div class="row g-3 mb-3">
                <div class="col-md-3">
                    <label class="form-label">Desde</label>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Hasta</label>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Filtro</label>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Buscar</label>
                </div>
            </div>

            <div class="row g-3 mb-3 align-items-end">
                <div class="col-md-3">
                    <InputDate class="form-control" @bind-Value="Desde" />
                </div>
                <div class="col-md-3">
                    <InputDate class="form-control" @bind-Value="Hasta" />
                </div>
                <div class="col-md-3">
                    <InputSelect class="form-select" @bind-Value="Filtros">
                        <option disabled value="">Elige un filtro</option>
                        <option value="IdCart">Cart ID</option>
                        <option value="IdItem">Cart Item ID</option>
                    </InputSelect>
                </div>
                <div class="col-md-3">
                    <div class="d-flex">
                        <InputText class="form-control me-2" @bind-Value="ValorFiltro" placeholder="Buscar..." />
                        <button class="btn btn-primary me-2" @onclick="Buscar">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary bi bi-arrow-counterclockwise" @onclick="Restablecer"></button>
                    </div>
                </div>
            </div>

            <div class="table table-striped table-bordered table-hover">
                <QuickGrid Items="ListaShoppingCartItem" Class="table table-striped table-bordered table-hover">
                    <PropertyColumn Property="@(e => e.ShoppingCartItemId)" Sortable="true" Title="Cart Item Id" />
                    <PropertyColumn Property="@(e => e.ShoppingCartId)" Sortable="true" Title="Cart Id" />
                    <PropertyColumn Property="@(e => e.DateCreated)" Format="dd/MM/yyyy" Title="Fecha de creacion" Sortable="true" />
                    <PropertyColumn Property="@(e => e.ModifiedDate)" Format="dd/MM/yyyy" Title="Fecha de modificacion" Sortable="true" />

                    <TemplateColumn Title="Acciones">
                        <a class="btn btn-outline-primary btn-sm" href="/ShoppingCartItem/Edit/@context.ShoppingCartItemId">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </TemplateColumn>
                </QuickGrid>
            </div>
        </div>

        <div class="card-footer text-end">
            <strong>Conteo Registros: @ListaShoppingCartItem.Count()</strong>
        </div>
    </div>
</div>

@code {
    public IQueryable<ShoppingCartItem> ListaShoppingCartItem { get; set; } = Enumerable.Empty<ShoppingCartItem>().AsQueryable();
    public string Filtros { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;
    public DateTime? Desde { get; set; }
    public DateTime? Hasta { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Buscar();
    }

    public async Task Buscar()
    {
        List<ShoppingCartItem> resultado;

        if (!string.IsNullOrWhiteSpace(ValorFiltro))
        {
            if (Filtros == "IdCart" )
            {
                resultado = await shoppingCartItemService.GetList(x => x.ShoppingCartId != null && x.ShoppingCartId.ToLower().Trim().Contains(ValorFiltro.ToLower().Trim()));
            }
            if (Filtros == "IdItem" && int.TryParse(ValorFiltro, out int id))
            {
                resultado = await shoppingCartItemService.GetList(x => x.ShoppingCartItemId == id);
            }
            else
            {
                resultado = await shoppingCartItemService.GetList(x => true);
            }
        }
        else
        {
            resultado = await shoppingCartItemService.GetList(x => true);
        }
        if (Desde.HasValue)
            resultado = resultado.Where(x => x.ModifiedDate >= Desde.Value).ToList();

        if (Hasta.HasValue)
            resultado = resultado.Where(x => x.ModifiedDate <= Hasta.Value).ToList();

        ListaShoppingCartItem = resultado.AsQueryable();
    }

    private async Task Restablecer()
    {
        Desde = null;
        Hasta = null;
        ValorFiltro = string.Empty;
        Filtros = string.Empty;
        await Buscar();
    }
}
