@page "/ProductDescription/Index"
@attribute [Authorize(Roles = "Admin, ProductionManager")]


@inject ProductDescriptionService productDescriptionService;
@rendermode InteractiveServer

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Banco de Descripciones de Producto</h4>
            <a class="btn btn-primary bi bi-plus-square" href="/ProductDescription/Create"> Nueva Descripci&oacute;n</a>
        </div>
        <div class="card-body">
            
            <div class="row pb-3">
                <div class="col-6 col-md-4 offset-md-8">
                    <div class="input-group">
                        <input class="form-control" type="text" @bind-value="ValorFiltro" placeholder="Buscar palabras clave..." />
                        <button class="btn btn-primary bi bi-search" type="button" @onclick="Filtrar"></button>
                        <button class="btn btn-outline-primary bi bi-arrow-clockwise" type="button" @onclick="Restablecer"></button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <QuickGrid Class="table table-striped table-bordered table-hover" Pagination="@pages" Items="ListaDescripciones.AsQueryable()" ItemKey="@(d => d.ProductDescriptionId)">
                    <PropertyColumn Property="@(d => d.ProductDescriptionId)" Sortable="true" Title="Id" />
                    <PropertyColumn Property="@(d => d.Description)" Sortable="true" Title="Texto de Descripci&oacute;n" />
                    <PropertyColumn Property="@(d => d.ModifiedDate)" Sortable="true" Format="dd/MM/yyyy" Title="Última Modificación" />
                    
                    <TemplateColumn Class="text-center" Context="options" Title="Acci&oacute;n">
                        <a href="/ProductDescription/Edit/@options.ProductDescriptionId" class="btn btn-outline-primary bi bi-pencil-square"> Editar</a>
                    </TemplateColumn>
                </QuickGrid>
            </div>
            <Paginator State="@pages" />
        </div>
    </div>
</div>

@code {
    public List<ProductDescription> ListaDescripciones { get; set; } = new List<ProductDescription>();
    public string ValorFiltro { get; set; } = "";
    private PaginationState pages = new PaginationState { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        ListaDescripciones = await productDescriptionService.GetList(d => d.ProductDescriptionId > 0);
        ListaDescripciones = ListaDescripciones.OrderByDescending(d => d.ModifiedDate).ToList();
    }

    public async Task Filtrar()
    {
        if (!string.IsNullOrWhiteSpace(ValorFiltro))
        {
            ListaDescripciones = await productDescriptionService.GetList(d => d.Description.ToLower().Contains(ValorFiltro.ToLower()));
        }
        else
        {
            ListaDescripciones = await productDescriptionService.GetList(d => d.ProductDescriptionId > 0);
        }
        ListaDescripciones = ListaDescripciones.OrderByDescending(d => d.ModifiedDate).ToList();
    }

    public async Task Restablecer()
    {
        ValorFiltro = "";
        await Filtrar();
    }
}
