@page "/Product/Create"

@inject ProductService productService;
@inject ProductSubcategoryService subcategoryService;
@inject ProductModelService modelService;
@inject UnitMeasureService unitMeasureService;
@inject ToastService toastService;
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<EditForm Model="Product" FormName="crearProduct" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container pb-5">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h4>Crear Producto</h4>
            </div>
            <div class="card-body">
                
                <h5 class="pb-3">Informaci&oacute;n General</h5>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label><strong>Nombre del Producto</strong></label>
                        <input class="form-control" type="text" maxlength="50" @bind="Product.Name" placeholder="Ej: Mountain-200" />
                        <ValidationMessage For="(() => Product.Name)" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label><strong>SKU (N&uacute;mero de Producto)</strong></label>
                        <input class="form-control" type="text" maxlength="25" @bind="Product.ProductNumber" placeholder="Ej: BK-M82B-38" />
                        <ValidationMessage For="(() => Product.ProductNumber)" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label><strong>Color</strong></label>
                        <input class="form-control" type="text" maxlength="15" @bind="Product.Color" placeholder="Ej: Black" />
                        <ValidationMessage For="(() => Product.Color)" />
                    </div>
                </div>

                <h5 class="pb-3">Inventario y Manufactura</h5>
                <div class="row">
                    <div class="col-md-3 mb-3 form-check ms-3 mt-4">
                        <input class="form-check-input" type="checkbox" @bind="Product.MakeFlag" />
                        <label><strong>¿Fabricaci&oacute;n propia?</strong></label>
                        <ValidationMessage For="(() => Product.MakeFlag)" />
                    </div>
                    <div class="col-md-3 mb-3 form-check mt-4">
                        <input class="form-check-input" type="checkbox" @bind="Product.FinishedGoodsFlag" />
                        <label><strong>¿Listo para venderse?</strong></label>
                        <ValidationMessage For="(() => Product.FinishedGoodsFlag)" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label><strong>D&iacute;as manufactura</strong></label>
                        <input class="form-control" type="number" @bind="Product.DaysToManufacture" />
                        <ValidationMessage For="(() => Product.DaysToManufacture)" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label><strong>Pto. Reorden</strong></label>
                        <input class="form-control" type="number" @bind="Product.ReorderPoint" />
                        <ValidationMessage For="(() => Product.ReorderPoint)" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label><strong>Stock Seguridad</strong></label>
                        <input class="form-control" type="number" @bind="Product.SafetyStockLevel" />
                        <ValidationMessage For="(() => Product.SafetyStockLevel)" />
                    </div>
                </div>

                <h5 class="pb-3">Clasificaci&oacute;n</h5>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label><strong>Subcategor&iacute;a</strong></label>
                        <select class="form-select" @bind="Product.ProductSubcategoryId">
                            <option value="" selected>Sin Subcategor&iacute;a...</option>
                            @foreach (var sub in ListaSubcategorias)
                            {
                                <option value="@sub.ProductSubcategoryId">@sub.Name (@sub.ProductCategory?.Name)</option>
                            }
                        </select>
                        <ValidationMessage For="(() => Product.ProductSubcategoryId)" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label><strong>Modelo T&eacute;cnico</strong></label>
                        <select class="form-select" @bind="Product.ProductModelId">
                            <option value="" selected>Sin Modelo...</option>
                            @foreach (var mod in ListaModelos)
                            {
                                <option value="@mod.ProductModelId">@mod.Name</option>
                            }
                        </select>
                        <ValidationMessage For="(() => Product.ProductModelId)" />
                    </div>
                </div>

                <h5 class="pb-3">Finanzas y Comercializaci&oacute;n</h5>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label><strong>Costo Est&aacute;ndar</strong></label>
                        <input class="form-control" type="number" step="0.01" @bind="Product.StandardCost" />
                        <ValidationMessage For="(() => Product.StandardCost)" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label><strong>Precio de Lista</strong></label>
                        <input class="form-control" type="number" step="0.01" @bind="Product.ListPrice" />
                        <ValidationMessage For="(() => Product.ListPrice)" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label><strong>Inicio de Ventas</strong></label>
                        <input class="form-control" type="datetime-local" @bind="Product.SellStartDate" />
                        <ValidationMessage For="(() => Product.SellStartDate)" />
                    </div>
                </div>

                <h5 class="py-3 text-primary border-bottom">Dimensiones (Opcional)</h5>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label><strong>Tama&ntilde;o</strong></label>
                        <input class="form-control" type="text" maxlength="5" @bind="Product.Size" />
                        <ValidationMessage For="(() => Product.Size)" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label><strong>U. Medida Tama&ntilde;o</strong></label>
                        <select class="form-select" @bind="Product.SizeUnitMeasureCode">
                            <option value="" selected></option>
                            @foreach (var unit in ListaUnidades)
                            {
                                <option value="@unit.UnitMeasureCode">@unit.Name</option>
                            }
                        </select>
                        <ValidationMessage For="(() => Product.SizeUnitMeasureCode)" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label><strong>Peso</strong></label>
                        <input class="form-control" type="number" step="0.01" @bind="Product.Weight" />
                        <ValidationMessage For="(() => Product.Weight)" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label><strong>U. Medida Peso</strong></label>
                        <select class="form-select" @bind="Product.WeightUnitMeasureCode">
                            <option value="" selected></option>
                            @foreach (var unit in ListaUnidades)
                            {
                                <option value="@unit.UnitMeasureCode">@unit.Name</option>
                            }
                        </select>
                        <ValidationMessage For="(() => Product.WeightUnitMeasureCode)" />
                    </div>
                </div>

            </div>
            <div class="card-footer text-center">
                <a class="btn btn-secondary bi bi-arrow-left" href="/Product/Index"> Volver</a>
                <button class="btn btn-primary bi bi-floppy" type="submit"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public Product Product { get; set; } = new Product();
    
    public List<ProductSubcategory> ListaSubcategorias { get; set; } = new List<ProductSubcategory>();
    public List<ProductModel> ListaModelos { get; set; } = new List<ProductModel>();
    public List<UnitMeasure> ListaUnidades { get; set; } = new List<UnitMeasure>();

    protected override async Task OnInitializedAsync()
    {
        Product.MakeFlag = true;
        Product.FinishedGoodsFlag = true;
        Product.SafetyStockLevel = 1000;
        Product.ReorderPoint = 750;
        Product.DaysToManufacture = 0;
        Product.StandardCost = 0;
        Product.ListPrice = 0;
        Product.SellStartDate = DateTime.Now;

        ListaSubcategorias = await subcategoryService.GetList(s => s.ProductSubcategoryId > 0);
        ListaModelos = await modelService.GetList(m => m.ProductModelId > 0);
        ListaUnidades = await unitMeasureService.GetList(u => true);
    }

    public async Task Guardar()
    {
        if (string.IsNullOrWhiteSpace(Product.SizeUnitMeasureCode)) Product.SizeUnitMeasureCode = null;
        if (string.IsNullOrWhiteSpace(Product.WeightUnitMeasureCode)) Product.WeightUnitMeasureCode = null;

        bool guardado = await productService.Guardar(Product);
        if (guardado)
        {
            toastService.ShowSuccess("El producto se ha guardado correctamente.");
            navigationManager.NavigateTo("/Product/Index");
        }
        else
        {
            toastService.ShowError("Ha ocurrido un error inesperado al guardar el producto.");
        }
    }
}
